@charset "utf-8";
/* CSS Document */
ul .li_li{
	width:120px;height:78px;float:left;margin:5px 5px;border:1px solid #E0E0E0;cursor:pointer;font-family:微软雅黑;font-size: 12px;color: #9B9B9B; text-align: center;
    padding: 15px
}
ul .li_li1{
	width:120px;height:78px;float:left;margin:5px 5px;border:1px solid #E0E0E0;background:#F3F3F3;line-height:20px;font-family:微软雅黑;font-size: 12px;color: #9B9B9B; text-align: center;
    padding: 15px
}
div .btn1{
	height: 40px;
    line-height: 40px;
    width: 130px;
    background-color: #f40;
    font-size: 14px;
    margin-left:400px;
    border-radius: 3px;
    background-clip: padding-box;vertical-align: top;padding: 0 8px;
    outline: 0;
}